<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="width: 100%">
            <div class="card-header">{{frase.autor}}</div>
            <div class="card-body">
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>
        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary " style="width: 100%">
            Mostrar/Ocultar
        </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let i of personajes; let j = index" class="list-group-item">{{j+1}}. {{ i }}</li>
        </ul>
    </div>
</div>